name : webcuatuici

on :
  push:
    branches: [master]

jobs: 
  deploy:
   runs-on : ubuntu-latest
   steps:
    - name: deploye ssh vps
      uses: appleboy/ssh-action@master
      with:
        host: ${{secrets.HOST_WEB}}
        username: ${{secrets.USER_NAME}}
        password: ${{secrets.PASSWORD}}
        port: 22
        script: |
          cd /home/flashvps/toilamerp.com
          sudo git reset --hard
          sudo git config --global --add safe.directory /home/flashvps/toilamerp.com
          sudo git pull
          sudo npm install
          sudo composer install
          sudo php artisan migrate --force
          sudo npm run build
          php artisan filament:optimize-clear
          php artisan filament:optimize
          php artisan vendor:publish --provider="AmidEsfahani\FilamentTinyEditor\TinyeditorServiceProvider"
          php artisan vendor:publish --provider="AmidEsfahani\FilamentTinyEditor\TinyeditorServiceProvider" --tag="config"
          php artisan vendor:publish --provider="AmidEsfahani\FilamentTinyEditor\TinyeditorServiceProvider" --tag="views"
          php artisan vendor:publish --provider="AmidEsfahani\FilamentTinyEditor\TinyeditorServiceProvider" --tag="public"
          sudo php artisan optimize:clear
          sudo php artisan config:clear
          sudo php artisan optimize
          
          
        
       
     
